API_ID= 25857231
API_HASH= 1dd5f56534538ad1caaf694617e374a4
BOT_TOKEN= 8676218479:AAHIYQpyApk2s5bInhP6xbXim7ejLOCE2I0
LOGGER_ID= -1003738326223
MONGO_DB_URI= mongodb+srv://Ceoiyan:<ceoiyanwe>@ceoiyan.saf6kt8.mongodb.net/?appName=Ceoiyan
OWNER_ID= 5367460879
STRING_SESSION= BQGKjM8ACuMX5Ny9nOiuLJknJcc9ad0Le31EN3BtFRSci0PWGLWB20y2YxeZ7viRoVrTCyZdhUnmcpSgwS_xB0kUkQbCan_twEhOu3j4Dg5cJwNTeirZBXY6h8I7QmQ1io81h-JTQrFg_z1WwkplpJU88TCT_IHVNaZpgaDWbOho4irsuVKphk41gkcK2sy3rBbtGyhBIlMIl2DZZsnSNrv6oYxCAPKPy20NLqj9ZR6_tHWDt2KeOZH0Qb60npnGrjEeGhsC8L38yV9wgckF95MqhQcFv7p12iRAs_Bs4rB7NtqyRNzmIuQXaiIqLO_W1tU4Ujnkl8saart7jPrT3V_wghF5owAAAAIFJJZvAQ
